@charset "utf-8";
/* CSS Document */
#mysql-wrapper{
	height: 2430px;
}
#mysql-container{
	height: 2420px;
}
#post-mysql{
	height: 2095px;
}
.video{
	line-height: 1.6;
	font-size: 16px;
}
pre {
    overflow: auto;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
h2.title-h2 {
    margin: 15px -20px;
    padding: 0 20px;
    border-left: 5px solid #51aded;
    background-color: rgba(243,243,243,.7);
    font-size: 20px;
    line-height: 40px;
}
.kratos-post-content p {
    margin-bottom: 1em;
    font-size: 16px;
    color: #333;
}