@charset "utf-8";
/* CSS Document */
		#header-size a{
	         text-decoration: none;
			 color: #FFFFFF
        }
        a{
			text-decoration: none;
        }
		body{
			margin: 0px;
			line-height: 1.8;
		}
		#headers{
			background-color: rgba(22,23,26,1.00);
			width: 100%;
			height: 71px;
			opacity: 0.8;
		}
        #header-size{
			width: 1170px;
			height: 55px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 16px;
			font-size: 20px;
	
        }
		.header-fenlei{
			text-align: center;
			vertical-align: middle;
			float: left;
		    margin-right: 40px;
			
		}
		.header-fenlei-wei{
			text-align: center;
			vertical-align: middle;
			float: left;
		}
		#logo-header{
			width: 140px;
			margin-left: 40px;
			margin-right: 600px;
			text-align: center;
			vertical-align: middle;
			float: left;
}